:host {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.layout-body {
    flex: 1 0 auto;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    padding: 28px;
    box-sizing: border-box;
    min-width: 0;
}

@media (width <= 900px) {
    .layout-body {
        padding: 18px;
    }
}

@media (width <= 480px) {
    .layout-body {
        padding: 18px 14px;
    }
}
